*.o
*.a
*.sconsign.dblite
*~
*.pyc

## nonsense that Feff writes out
fort.*
log*.dat
global.dat

## nonsense that Athena writes out
.gnuplot*

## perl wrapper chaff
**/_Inline
wrappers/perl/MYMETA.*
wrappers/perl/Makefile

## artemis project files and other files used to develop fitting models for standards
t/materials/*/*.fpj
gds.txt
*.skip

## conversion of md -> html
README.html

## compiled programs
src/POT/pot
src/GENFMT/genfmt
src/GENFMT/onepath
src/GENFMT/feffpath
src/GENFMT/makepath
src/PATH/path
src/XSPH/xsph
src/FMS/fms
src/RDINP/rdinp
src/FF2X/ff2x

doc/feff8.aux
doc/feff8.log
doc/feff8.out
doc/feff8.pdf
doc/feff8.toc
