*.o
*.a
*.sconsign.dblite
*~
*.pyc

## nonsense that Feff writes out
fort.*
log*.dat
global.dat

## nonsense that Athena writes out
.gnuplot*

## conversion of md -> html
README.html

## compiled programs
src/POT/pot
src/GENFMT/genfmt
src/PATH/path
src/XSPH/xsph
src/FMS/fms
src/RDINP/rdinp
src/FF2X/ff2x

doc/feff8.aux
doc/feff8.log
doc/feff8.out
doc/feff8.pdf
doc/feff8.toc
